<% provide(:title, "注文履歴一覧") %>
<div class="container-lg">
<h2 class="head-line title_h2 text-center pt-5 pb-5">注文履歴一覧</h2>
<div class="row">
		<table class="table table-hover table-bordered table-condensed">
		  <thead>
		    <tr class="info">
		      <th class="col-xs-3"><i class="far fa-clock"></i>購入日時</th>
	      	  <th><i class="far fa-user"></i>購入者</th>
		      <th class="col-xs-1">注文個数</th>
		      <th class="col-xs-2">注文ステータス</th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @orders.each do |order| %>
		      <tr>
		        <td>
		          <%= link_to admin_order_path(order), data: {"turbolinks" => false}, :style=>"color:#528fff;"  do %>
		          	<%= order.created_at %>
		          <% end %>
		        </td>
		        <td class="text-left">
		          <%= full_name(order.customer) %>
		        </td>
		        <td class="text-right">
                  <% @sum  = 0 %>
                  <% order.order_items.all.each do |order_item|  %>
                    <% @amount = order_item.amount  %>
                    <% @sum += @amount  %>
                  <% end %>
                  <%= @sum %>
		        </td>
    	        <td>
    	      	  <%= order.order_status_i18n %>
     	        </td>
     	      </tr>
		    <% end %>
		  </tbody>
		</table>
    <div class="text-center"><%= paginate(@orders) %></div>
</div>
</div>