<header>

 <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#ffe4e1">
  <div class="container">
    <a class="navbar-brand">
     <form class="d-flex">
      <input class="form-control ml-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary mr-2" type="submit">検索</button>
     </form>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
       <%#ここに顧客側と管理者側で表示内容を変えるif文を書く%>
       <%#すべてのアイコンに各ページのリンクをつける%>
       <p class="text-right">
       <% if customer_signed_in? %>
        <li><i class="header-title"><%= link_to(root_path) do %><%= image_tag 'IMG_2900.png', :size =>'300x140' %><% end %></i></li>
        <%= link_to '商品一覧', items_path, class: "fas fa-cheese text-dark mx-3 d-flex align-items-center"  %>
        <%= link_to 'ユーザー', customers_path, class: "fas fa-user text-dark pr-3 d-flex align-items-center" %>
        <%= link_to 'アバウト', public_home_about_path, class: "fas fa-store text-dark pr-3 d-flex align-items-center" %>
        <%= link_to 'カート', customers_cart_items_path, class: "fas fa-shopping-cart text-dark pr-3 d-flex align-items-center" %>
        <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "fas fa-sign-out-alt text-dark pr-3 d-flex align-items-center" %>
       </p>
       <%#管理者用%>
       <p class="text-right">
       <% elsif admin_signed_in? %>
        <li><i class="header-title"><%= link_to(root_path) do %><%= image_tag 'IMG_2900.png', :size =>'280x140' %><% end %></i></li>
        <%= link_to '商品一覧', admin_items_path, class: "fas fa-cheese text-dark mx-2 d-flex align-items-center" %>
        <%= link_to '顧客一覧', admin_customers_path, class: "fas fa-user text-dark pr-2 d-flex align-items-center" %>
        <%= link_to "注文履歴一覧", admin_orders_path, class: "fas fa-store text-dark pr-2 d-flex align-items-center" %>
        <%= link_to "ジャンル一覧", admin_genres_path, class: "fas fa-shopping-cart text-dark pr-2 d-flex align-items-center" %>
        <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "fas fa-sign-out-alt text-dark pr-2 d-flex align-items-center" %>
       <%#いずれもログインしていない時%>
       <% else %>
        <li><i class="header-title"><%= link_to(root_path) do %><%= image_tag 'IMG_2900.png', :size =>'300x140' %><% end %></i></li>
        <%= link_to '商品一覧', items_path, class: "fas fa-cheese text-dark mx-4 d-flex align-items-center" %>
        <%= link_to 'アバウト', public_home_about_path, class: "fas fa-store text-dark pr-4 d-flex align-items-center" %>
        <%= link_to '新規登録', new_customer_registration_path, class: "fas fa-user-plus text-dark pr-4 d-flex align-items-center" %>
        <%= link_to 'ログイン', new_customer_session_path, class: "fas fa-sign-in-alt text-dark pr-4 d-flex align-items-center" %>
       <% end %>
       </p>
      </ul>
     </div>
    </div>
  </div>
 </nav>
</header>